<!-- blog-post slider area start -->
<div class="h3-top-banner-area">
  <div class="container">
    <img src="assets/img/banner/header-top-banner3.jpg" alt="banner image">
  </div>
</div>
<br>
<!-- twich-content area start -->
<div class="twich-content-area tw-blog-dtls">
  <div class="container">
    <div class="row">
      <!-- left content area start -->
      <div class="col-md-8 col-sm-8">
        <!-- blog post details area start -->
        <div class="blog-post-details">

          <div class="letest-news" role="tabpanel">
            <div class="col-xs-12">
              <div class="section-top-bar">
                <h4>சினிமா செய்திகள்</h4>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="lt-single-post">
                <div class="single-lt-thumb">
                  <img src="assets/img/custom/newsbanner-img.jpg" alt="post thumbnail" class="latestnews-banner">
                  <div class="lt-thumb-desc">
                    <a class="ln-post-cat" href="#">travel</a>
                    <div class="meta-autor">
                      <div class="meta-tag-area">
                        <span><i class="fa fa-clock-o"></i>06, August 2017</span>
                        <span><i class="fa fa-heart"></i>124</span>
                        <span><i class="fa fa-comment"></i>16</span>
                      </div>
                    </div>
                  </div>
                </div>
                <a class="lt-snlg-title" href="news-detail.html">விஜய் ரசிகையான நான் ஏன் சர்கார்
                  விழாவை தொகுத்து வழங்கவில்லை?: வி.ஜே. அஞ்சனா</a>
                <p class="df-text">ஸ்டெர்லைட்: நில ஒதுக்கீட்டை அரசு ரத்து செய்ய இடைக்கால தடை..
                  மதுரை ஹைகோர்ட் கிளை அதிரடிஸ்டெர்லைட்: நில ஒதுக்கீட்டை அரசு ரத்து செய்ய இடைக்கால
                  தடை.. மதுரை ஹைகோர்ட் கிளை அதிரடி</p>
              </div>
              <br>
              <a href="#"><img src="assets/img/banner/header-sidebar-banner2.jpg" class="frstad-block" alt="banner"></a>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-1.jpg" alt="post thumb" class="latestnews-banner">
                <div class="lt-post-desc">
                  <a href="news-detail.html">ஸ்டெர்லைட்: நில ஒதுக்கீட்டை அரசு ரத்து செய்ய
                    இடைக்கால தடை.. மதுரை ஹைகோர்ட் கிளை அதிரடி</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-2.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a href="news-detail.html">ரூ.91,000 கோடி கடனில் தத்தளிக்கும் கம்பெனியை கைவிட்ட
                    ரவி பார்த்தசாரதி லண்டன் பறந்தார்</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-3.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a href="news-detail.html">விஜய் அரசியல் பேச்சு முன்கூட்டியே திட்டமிட்டதா?
                    'சர்கார்' மேடையை பயன்படுத்தியது ஏன் தெரியுமா?</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-4.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a href="news-detail.html">தளபதி யார்? விஜயா? ஸ்டாலினா?.. உதயநிதி ஸ்டாலினின்
                    அல்டிமேட் பதில்!</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-1.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a href="news-detail.html">ஸ்டெர்லைட்: நில ஒதுக்கீட்டை அரசு ரத்து செய்ய
                    இடைக்கால தடை.. மதுரை ஹைகோர்ட் கிளை அதிரடி</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-2.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a href="news-detail.html">ரூ.91,000 கோடி கடனில் தத்தளிக்கும் கம்பெனியை கைவிட்ட
                    ரவி பார்த்தசாரதி லண்டன் பறந்தார்</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="news-btm-roll">
            <div class="widget-title-bar">
              <h4>Related News</h4>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="h2-lfpost-single-item">
                  <div class="h2-lfpost-vthumb">
                    <a href="#"><img src="assets/img/post-img/lifestyle/h2-post-img1.jpg" alt="video wvi-thumbnail"></a>
                  </div>
                  <a href="#" class="lfpost-title">பாரதியார் பல்கலைக் கழகத்தில் வேலை வாய்ப்பு!</a>
                  <div class="h2-cmnpost-info">By
                    <span class="acti">hughnei</span>
                    <span><i class="fa fa-comment"></i>13</span>
                    <span><i class="fa fa-heart"></i>23</span>
                    <span><i class="fa fa-eye"></i>138</span>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="h2-lfpost-single-item">
                  <div class="h2-lfpost-vthumb">
                    <a href="#"><img src="assets/img/post-img/lifestyle/h2-post-img2.jpg" alt="video wvi-thumbnail"></a>
                  </div>
                  <a href="#" class="lfpost-title">இண்டர்போல் தலைவர் சீனாவில் மாயம்</a>
                  <div class="h2-cmnpost-info">By
                    <span class="acti">hughnei</span>
                    <span><i class="fa fa-comment"></i>13</span>
                    <span><i class="fa fa-heart"></i>23</span>
                    <span><i class="fa fa-eye"></i>138</span>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="h2-lfpost-single-item">
                  <div class="h2-lfpost-vthumb">
                    <a href="#"><img src="assets/img/post-img/lifestyle/h2-post-img2.jpg" alt="video wvi-thumbnail"></a>
                  </div>
                  <a href="#" class="lfpost-title">அதிமுக - அமமுக குழப்பம்.. அமைச்சர்கள்
                    ரியாக்ஷன்!!</a>
                  <div class="h2-cmnpost-info">By
                    <span class="acti">hughnei</span>
                    <span><i class="fa fa-comment"></i>13</span>
                    <span><i class="fa fa-heart"></i>23</span>
                    <span><i class="fa fa-eye"></i>138</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- RELATED NEW ENDS HERE -->
        </div>
      </div>
      <!-- left content area end -->
      <!-- right section area start -->
      <div class="col-md-4 col-sm-4">
        <div class="widget widget-social">
          <div class="widget-fb">
            <i class="dblue fa fa-facebook"></i>
            <h4>4,000</h4>
            <h6>Fans</h6>
          </div>
          <div class="widget-twitter">
            <i class="wblue fa fa-twitter"></i>
            <h4>3,000</h4>
            <h6>Followers</h6>
          </div>
          <div class="widget-g-plus">
            <i class="red fa fa-youtube-play"></i>
            <h4>2,000</h4>
            <h6>Subscriber</h6>
          </div>
        </div>
        <div class="widget widget-h3-most-populer">
          <div class="widget-h3-msp-header">
            <h4>MOST POPULAR</h4>
          </div>
          <div class="widget-h3-msp-body">
            <div class="wh3-letest-item">
              <div class="wh3-li-img">
                <img src="assets/img/side-bar/most-populer/msp-img1.jpg" alt="image">
                <div class="wh3-litem-info">
                  <a href="news-detail.html">விஜய் அரசியல் பேச்சு முன்கூட்டியே திட்டமிட்டதா?</a>
                  <div class="wh3-item-fback">
                    <span><i class="fa fa-clock-o"></i>May 06, 2014</span>
                    <span><i class="fa fa-comment"></i>10</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="wh3-msp-single-item">
              <img src="assets/img/side-bar/most-populer/msp-img2.jpg" alt="">
              <div class="wh3-litem-info">
                <a href="news-detail.html">விஜய் அரசியல் பேச்சு முன்கூட்டியே திட்டமிட்டதா?</a>
                <div class="wh3-item-fback">
                  <span><i class="fa fa-clock-o"></i>May 06, 2014</span>
                  <span><i class="fa fa-comment"></i>10</span>
                </div>
              </div>
            </div>
            <div class="wh3-msp-single-item">
              <img src="assets/img/side-bar/most-populer/msp-img3.jpg" alt="">
              <div class="wh3-litem-info">
                <a href="news-detail.html">விஜய் அரசியல் பேச்சு முன்கூட்டியே?</a>
                <div class="wh3-item-fback">
                  <span><i class="fa fa-clock-o"></i>May 06, 2014</span>
                  <span><i class="fa fa-comment"></i>10</span>
                </div>
              </div>
            </div>
            <div class="wh3-msp-single-item">
              <img src="assets/img/side-bar/most-populer/msp-img4.jpg" alt="">
              <div class="wh3-litem-info">
                <a href="news-detail.html">விஜய் அரசியல் பேச்சு முன்கூட்டியே?</a>
                <div class="wh3-item-fback">
                  <span><i class="fa fa-clock-o"></i>May 06, 2014</span>
                  <span><i class="fa fa-comment"></i>10</span>
                </div>
              </div>
            </div>
            <div class="wh3-msp-single-item">
              <img src="assets/img/side-bar/most-populer/msp-img5.jpg" alt="">
              <div class="wh3-litem-info">
                <a href="news-detail.html">விஜய் அரசியல் பேச்சு முன்கூட்டியே?</a>
                <div class="wh3-item-fback">
                  <span><i class="fa fa-clock-o"></i>May 06, 2014</span>
                  <span><i class="fa fa-comment"></i>10</span>
                </div>
              </div>
            </div>
            <div class="wh3-msp-single-item">
              <img src="assets/img/side-bar/most-populer/msp-img6.jpg" alt="">
              <div class="wh3-litem-info">
                <a href="news-detail.html">விஜய் அரசியல் பேச்சு முன்கூட்டியே?</a>
                <div class="wh3-item-fback">
                  <span><i class="fa fa-clock-o"></i>May 06, 2014</span>
                  <span><i class="fa fa-comment"></i>10</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- right section area end -->
    </div>
  </div>
</div>
<!-- twich-content area end -->
