
@import url('https://fonts.googleapis.com/css?family=Mukta+Malar');

body {
	font-family: 'Mukta Malar', sans-serif !important;
}
/* THEME CSS STARTS HERE */
.main-menu nav ul {
	position: relative;
}
.main-menu nav ul >li {
    display: inline-block;
    position: initial;
}

.main-menu nav ul li > ul.mega-menu {
    width: 100%;
    display: block;
    left: auto;
    padding: 5px 13px;
    position: absolute;
    right: 0;
}
.main-menu nav ul li > ul.mega-menu li {
    width: auto;
    padding: 0px 10px;
    float: left;
}
.main-menu nav ul li > ul.drop-menu li a {
    color: #ffffff;
    margin: 0;
    display: block;
    padding: 12px 0px;
    font-size: 12px;
}
.header-bottom {
    background: #222626;
    min-height: 45px;
}
.main-menu nav ul li a {
    font-size: 9px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    padding: 15px 0px;
    display: block;
    margin: 0px 0px 0px 7px;
}
.main-menu nav ul li:hover > ul.drop-menu {
    transform: translateY(-12px);
    visibility: visible;
    opacity: 1;
}
.main-menu nav ul li > ul.drop-menu li a {
    color: #ffffff;
    margin: 0;
    display: block;
    padding: 7px 0px;
    font-size: 10px;
}
.header-search-form button {
    background: transparent;
    border: none;
    font-size: 17px;
    color: #ffffff;
    margin-top: 10px;
}
.header-search-form input[type="text"] {
	top: 48px;
}
.logo {
    margin: 35px 0px 0px 15px;
}
.menu-area.navbar-fixed-top {
    padding: 0px 100px;
}
.h2-treading-post-area {
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 20px;
}
.breaking-news-area {
    height: auto;
    overflow: hidden;
    padding-top: 14px;
    padding-left: 28px;
}
ul.newsticker li {
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    letter-spacing: 0.01em;
    padding: 5px 0px 5px 0px;
}
.brk-title h4 {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #f26522;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.brk-title {
    float: left;
    padding: 10px 0px 10px 20px;
}
.brk-title span {
    height: 30px;
    width: 30px;
    border: 1px solid #f26522;
    display: inline-block;
    line-height: 15px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    background: #f26522;
    color: #fff;
}
.brk-title span#prev {
    margin-left: 10px;
}
.twich-content-area {
    padding: 5px 0px 10px 0px;
}
.list-post-item img {
    float: left;
    width: 75px;
    height: 55px;
    max-width: 75px;
    margin-top: 6px;
}
.section-top-bar ul li a {
    font-size: 12px;
    color: #474747;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.01em;
    padding: 9px 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    display: block;
}
.lt-single-post a.lt-snlg-title {
    font-size: 18px;
    font-weight: 700;
    color: #222626;
    letter-spacing: 0;
    line-height: 30px;
    display: inline-block;
    margin: 24px 0px 12px;
}
.wh3-msp-single-item .wh3-litem-info a {
    font-size: 10px;
    color: #333333;
    font-weight: 600;
    line-height: 20px;
}
/*.wh3-msp-single-item img {
    float: left;
    width: 100px;
    height: 75px;
    max-width: 100px;
    margin-top: 6px;
}
.wh3-msp-single-item .wh3-litem-info {
    position: inherit;
    background: transparent;
    padding: 0;
    padding-left: 125px;
}*/
.footer-top {
    overflow: hidden;
    position: relative;
    background: none;
    background-position: center center;
    background-size: cover;
    padding-bottom: 10px;
}
.footer-top::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #fff;
}
.footer-logo::before {
    display: none;
    content: '';
    position: absolute;
    height: 19px;
    width: 5px;
    background: #f26522;
    border-radius: 05px;
    left: 46px;
    top: 28px;
}
h4.ft-widget-title {
    font-size: 18px;
    color: rgba(46,49,52,0.95);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 22px;
    margin-bottom: 33px;
}
.blog-post-details p.blog-text {
    font-size: 17px;
    font-weight: 400;
    color: #000000;
    line-height: 25px;
    margin-top: 12px;
    word-spacing: 5px;
    font-family: 'Mukta Malar', sans-serif;
}
.h2-lfpost-single-item a.lfpost-title {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    font-family: 'Mukta Malar', sans-serif;
    letter-spacing: 0;
    line-height: 20px;
    display: block;
    margin: 17px 0px 7px;
}
form#cf input {
    width: 100%;
    height: 40px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    padding-left: 15px;
    color: #444;
    font-size: 13px;
}
form#cf textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    padding: 0px 10px 0px 15px;
    color: #444;
    font-size: 13px;
    resize: none;
}
.comment-responsd {
    padding: 30px 0px 0px 0px;
}
.contact-form {
    padding-top: 0px;
}
.comment-img {
    float: left;
    border-radius: 100%;
    overflow: hidden;
}
.comments > ul > li {
    border: 1px solid #f6f6f6;
    margin-top: 25px;
    padding: 0px 10px 0px 25px;
    border-radius: 5px;
}

.comment-author-metadata p.comment-content {
    font-size: 16px;
    font-weight: 500;
    color: #444444;
    letter-spacing: 0.09em;
    line-height: 20px;
    margin-top: 5px;
    font-family: 'Mukta Malar', sans-serif;
}
.comment-author-metadata h4.author {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    letter-spacing: .5px;
    line-height: 20px;
    overflow: hidden;
}
.comments-count {
    margin: 30px 0px 0px 0px;
}
.widget-video-item a.wvi-title {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    font-family: 'Mukta Malar', sans-serif;
    letter-spacing: 0.025em;
    line-height: 25px;
    display: block;
    margin: 17px 0px 0px;
}
.whot-title a {
    font-size: 18px;
    color: #ffffff;
    text-align: left;
    line-height: 22px;
    display: block;
    letter-spacing: 0.01em;
    position: relative;
    font-family: 'Mukta Malar', sans-serif;
}
.section-top-bar {
    overflow: hidden;
    width: 100%;
    min-height: 38px;
    padding-left: 18px;
    border: 4px solid #f26522;
    border-top: 1px solid #e8e9e9;
    border-bottom: 1px solid #e8e9e9;
    margin-bottom: 20px;
    background: #f4f4f4;
}
.section-top-bar h4 {
    font-size: 18px;
    font-weight: 500;
    color: #474747;
    text-transform: uppercase;
    float: left;
    line-height: 21px;
    margin-top: 9px;
    font-family: 'Mukta Malar', sans-serif !important;
}
.letest-video h1 {
    font-size: 28px;
    font-weight: 400;
    color: #ffffff;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: 'Mukta Malar', sans-serif !important;
}
.lt-video-item > a {
    font-size: 16px;
    color: #ffffff;
    font-weight: 200;
    font-family: 'Mukta Malar', sans-serif !important;
    line-height: 24px;
    display: block;
    margin-top: 3px;
}
.widget-around-world a {
    font-size: 22px;
    font-weight: 400;
    color: #000000;
    font-family: 'Mukta Malar', sans-serif !important;
    letter-spacing: 0.03em;
    line-height: 27px;
    display: inline-block;
    margin: 16px 0px 20px;
}
/* THEME CSS ENDS HERE */

.custom-header{
    background: #fff;
    box-shadow: 0px 0px 10px 1px #ccc;
}
.pr0{
	padding-right: 0px;
}
.mlr0{
	margin-left: 0px;
	margin-right: 0px;
}
.bannernews-img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
p.df-text {
    font-size: 18px;
    font-weight: 100;
    color: #5f6565;
    letter-spacing: 0;
    line-height: 23px;
    font-family: 'Mukta Malar', sans-serif !important;
}
.widget-around-world ul li {
    font-size: 16px;
    color: #000000;
    font-family: 'Mukta Malar', sans-serif !important;
    letter-spacing: .5px;
    line-height: 22px;
    margin-bottom: 10px;
}
.lt-post-desc a {
    display: block;
    font-size: 16px;
    color: #222626;
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: 23px;
    font-family: 'Mukta Malar', sans-serif;
}
.lt-post-desc {
    padding-left: 90px;
}
.trd-post-info a.trd-post-title {
    display: block;
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    font-family: 'Mukta Malar', sans-serif;
    letter-spacing: 0.03em;
    margin-top: 10px;
}
.trd-post-info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 0px 14px 20px;
    background: rgba(0, 0, 0, 0.44);
}
.breakingnews {
    background: #fff;
    box-shadow: 0px 0px 5px 1px #efefef;
    width: 100%;
    float: left;
    /*padding: 10px 20px;*/
    margin-bottom: 25px;
}

.latestnews-banner{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.ptb50 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.mustnewsimg {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.mt0{
    margin-top: 0px !important;
}
.footer-socialicons {
    text-align: left;
    margin-top: 20px;
}
.footer-socialicons a {
    font-size: 20px;
    color: #5f6565;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #5f6565;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 3px;
}
.text-white {
    color: #fff !important;
}
h4.newsdetail-title {
    font-size: 30px;
    font-weight: 500;
    font-family: 'Mukta Malar', sans-serif;
    letter-spacing: .5px;
    line-height: 38px;
    word-spacing: 5px;
}
.newsdetbnrimg{
    max-width: 100%;
    width: 100%;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.newsblkquote{
    font-size: 18px;
    color: #000000;
    font-weight: 400;
    font-family: 'Mukta Malar', sans-serif;
    line-height: 28px;
    word-spacing: 10px;
}
.rplytxtcss{
    font-size: 13px !important;
    font-weight: 600 !important;
    float: right;
    color: #f26522 !important;
    margin-top: 15px;
}
.frstad-block{
    height: 320px;
    width: 100%;
    object-fit: cover;
}
.category-sec {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    float: left;
}
.mtb10{
    margin: 20px 0px;
}
.viewmore-categorynews{
    font-size: 15px;
    font-weight: 500;
    color: #f26522 !important;
    float: right;
    margin-top: 4px;
    margin-right: 10px;
    font-family: 'Mukta Malar', sans-serif !important;
    letter-spacing: .3px;
}
.cmntrply-txtarea{
    width: 100%;
    height: 75px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    padding: 10px;
    color: #444;
    font-size: 13px;
    resize: none;
    margin-top: 10px;
}
.submitcmnt-btn{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #ffffff;
    line-height: 18px;
    letter-spacing: .5px;
    background: #615854;
    border: none;
    padding: 9px 12px;
    border-radius: 4px;
    margin-top: 25px;
    transition: all 0.3s ease 0s;
    float: right;
}