<!-- blog-post slider area start -->
<div class="h3-top-banner-area">
  <div class="container">
    <img src="assets/img/banner/header-top-banner3.jpg" alt="banner image">
  </div>
</div>
<br>
<!-- blog-post slider area end -->
<!-- twich-content area start -->
<div class="twich-content-area tw-blog-dtls">
  <div class="container">
    <div class="row">
      <!-- left content area start -->
      <div class="col-md-8 col-sm-8">
        <!-- blog post details area start -->
        <div class="blog-post-details">
          <h4 class="newsdetail-title">இந்திய வரலாற்றில் இல்லாத வீழ்ச்சி.. டாலருக்கு நிகரான ரூபாய் மதிப்பு பாதாளம்
            சென்றது!</h4>
          <p class="blog-text">டெல்லி: அமெரிக்க டாலருக்கு நிகரான இந்திய ரூபாய் மதிப்பு மிகப்பெரிய சரிவை சந்தித்துள்ளது.</p>
          <p class="blog-text">இந்திய ரூபாய் மதிப்பு தினமும் சரிந்து கொண்டே வருகிறது. பலவிதமான நடவடிக்கை எடுத்தும் கூட
            இந்திய ரூபாய் மதிப்பில் எந்த விதமான மாற்றமும் ஏற்படவில்லை.</p>
          <p class="blog-text">இந்த நிலையில் இன்று ரூபாய் மதிப்பில் பெரிய சரிவு ஏற்பட்டு இருக்கிறது. தொடர்ந்து இந்த
            சரிவு நீடிக்கும் என்று தகவல்கள் வருகிறது.</p>
          <img src="assets/img/custom/newsdet-img1.jpg" alt="" class="newsdetbnrimg">
          <blockquote>
            <p class="newsblkquote">கடந்த சில நாட்களாக கொஞ்சம் சீராக இருந்த ரூபாய் மதிப்பு இன்று மீண்டும் பெரிய சரிவை
              சந்தித்து இருக்கிறது. இது தொடரும் என்று பொருளாதார நிபுணர்கள் எச்சரிக்கை விடுத்து இருக்கிறார்கள். இது நமது
              பொருளாதாரத்தை பெரிய அளவில் பாதிக்க உள்ளது. ஒரு மாதம் முன் இந்திய ரூபாய் மதிப்பு 70.080 ரூபாயை தொட்டது.</p>
          </blockquote>
          <img src="assets/img/custom/newsdet-img2.jpg" alt="" class="newsdetbnrimg">
          <h5 class="newsdet-subtit">வரிசையாக சரிந்தது</h5>
          <p class="blog-text">கடந்த செப்டம்பர் 5ம் தேதி 72 ரூபாய் ஆனது. அதற்கு மறுநாள் செப்டம்பர் 6ம் தேதி 72.10
            ரூபாயை தாண்டியது. அன்றுதான் முதல்முறை 72 ரூபாயை தாண்டியது இந்திய ரூபாய் மதிப்பு. செப்டம்பர் 9ம் தேதி 33
            பைசா வீழ்ச்சி அடைந்து, இந்திய ரூபாய் மதிப்பு 72.33 ரூபாய் ஆகியது. கடந்த 3ம் தேதி இந்திய ரூபாய் மதிப்பு
            73.34 ரூபாய் ஆகி உள்ளது.</p>
          <img src="assets/img/custom/newsdet-img3.jpg" alt="" class="newsdetbnrimg">
          <h5 class="newsdet-subtit">இன்று என்ன</h5>
          <p class="blog-text">இந்த நிலையில் இன்று அமெரிக்க டாலருக்கு நிகரான இந்தியா ரூபாய் மதிப்பு 74ஐ தாண்டியது.
            இந்தியா ரூபாய் மதிப்பு 74.01ஐ தொட்டுள்ளது. இது தொடர்ந்து சரியும் என்றும் கூறப்பட்டுள்ளது.</p>
          <img src="assets/img/custom/newsdet-img4.jpg" alt="" class="newsdetbnrimg">
          <h5 class="newsdet-subtit">மோசம்</h5>
          <p class="blog-text">இந்திய வரலாற்றில் இல்லாத வீழ்ச்சியாகும் இது. ரூபாய் வீழ்ச்சியில் ஆர்பிஐ தலையிட்டும் இந்த
            சம்பவம் நடந்து இருக்கிறது. முதல்முறை இவ்வளவு மோசமான நிலையை அடைந்துள்ளது.</p>
          <!-- RELATED NEWS STARTS HERE -->
          <a href="#"><img src="assets/img/banner/header-top-banner1.jpg" class="mtb10" alt="banner"></a>
          <br>
          <div class="news-btm-roll">
            <div class="widget-title-bar">
              <h4>Related News</h4>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="h2-lfpost-single-item">
                  <div class="h2-lfpost-vthumb">
                    <a href="#"><img src="assets/img/post-img/lifestyle/h2-post-img1.jpg" alt="video wvi-thumbnail"></a>
                  </div>
                  <a href="#" class="lfpost-title">பாரதியார் பல்கலைக் கழகத்தில் வேலை வாய்ப்பு!</a>
                  <div class="h2-cmnpost-info">By
                    <span class="acti">hughnei</span>
                    <span><i class="fa fa-comment"></i>13</span>
                    <span><i class="fa fa-heart"></i>23</span>
                    <span><i class="fa fa-eye"></i>138</span>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="h2-lfpost-single-item">
                  <div class="h2-lfpost-vthumb">
                    <a href="#"><img src="assets/img/post-img/lifestyle/h2-post-img2.jpg" alt="video wvi-thumbnail"></a>
                  </div>
                  <a href="#" class="lfpost-title">இண்டர்போல் தலைவர் சீனாவில் மாயம்</a>
                  <div class="h2-cmnpost-info">By
                    <span class="acti">hughnei</span>
                    <span><i class="fa fa-comment"></i>13</span>
                    <span><i class="fa fa-heart"></i>23</span>
                    <span><i class="fa fa-eye"></i>138</span>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="h2-lfpost-single-item">
                  <div class="h2-lfpost-vthumb">
                    <a href="#"><img src="assets/img/post-img/lifestyle/h2-post-img2.jpg" alt="video wvi-thumbnail"></a>
                  </div>
                  <a href="#" class="lfpost-title">அதிமுக - அமமுக குழப்பம்.. அமைச்சர்கள் ரியாக்ஷன்!!</a>
                  <div class="h2-cmnpost-info">By
                    <span class="acti">hughnei</span>
                    <span><i class="fa fa-comment"></i>13</span>
                    <span><i class="fa fa-heart"></i>23</span>
                    <span><i class="fa fa-eye"></i>138</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- RELATED NEW ENDS HERE -->
          <!-- comment response area start -->
          <div class="comment-responsd">
            <h4>LEAVE A REPLY</h4>
            <div class="contact-form">
              <div class="cf-msg"></div>
              <form action="" method="post" id="cf">
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <label for="name">Your Name (required)</label>
                    <input type="text" id="name" name="name">
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <label for="email">Your Mail (required)</label>
                    <input type="text" id="email" name="email">
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <label for="msg">Your Message</label>
                    <textarea class="contact-textarea" id="msg" name="msg"></textarea>
                  </div>
                  <div class="col-md-12 col-sm-12">
                    <button class="cont-submit" id="submit" name="submit">SEND COMMENT</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- comment response area end -->
          <!-- comment area start -->
          <div class="comments">
            <div class="comments-count">
              <h4><span>3</span>COMMENTS</h4>
            </div>
            <ul>
              <li>
                <article>
                  <div class="comment-status-text">
                    <div class="comment-img">
                      <img src="assets/img/author-img/comnt-auth-img.jpg" alt="author image">
                    </div>
                    <div class="comment-author-metadata">
                      <h4 class="author">Praveenkumar <span class="date">June 2, 2016</span></h4>
                      <p class="comment-content">அரசியல் எதிர்ப்பு கிளம்பாததால் , இவர்களுக்குளாகவே அடித்து
                        கொள்கிறார்கள்.
                        <a href="#!" onclick="showcmntrply();" class="comment-reply-link rplytxtcss">Reply</a>
                      </p>
                    </div>
                    <div class="cmntrply-sec">
                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <!-- <label for="msg">Your Message</label> -->
                          <textarea class="cmntrply-txtarea" id="msg" name="msg">Comment here..</textarea>
                        </div>
                        <div class="col-md-12 col-sm-12">
                          <button class="submitcmnt-btn" id="submit" name="submit">Submit Comment</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
                <ul class="children">
                  <li>
                    <article>
                      <div class="comment-status-text">
                        <div class="comment-img">
                          <img src="assets/img/author-img/comnt-auth-img2.jpg" alt="author image">
                        </div>
                        <div class="comment-author-metadata">
                          <h4 class="author">Krishna Maddy <span class="date">June 2, 2016</span></h4>
                          <p class="comment-content">அரசுக்கு எதிராக பேசுகிற மாதிரி நடிக்கணும் ஆனால் உண்மையா பேசவே
                            கூடாது அந்த இமயமலை போகும் நடிகன் போல ஆனால் தமிழன் விஜய் உணர்வுடன் பேச அதை வரவேற்கும்
                            தமிழர்கள் இதை கண்டு அரசு அழுத்தம் கொடுக்க முருகு உருமுகிற நிலை
                            <a href="#" class="comment-reply-link rplytxtcss">Reply</a>
                          </p>
                        </div>
                      </div>
                    </article>
                  </li>
                </ul>
              </li>
              <li>
                <article>
                  <div class="comment-status-text">
                    <div class="comment-img">
                      <img src="assets/img/author-img/comnt-auth-img3.jpg" alt="author image">
                    </div>
                    <div class="comment-author-metadata">
                      <h4 class="author">Mari Selvam <span class="date">June 2, 2016</span></h4>
                      <p class="comment-content">ரஜினி அரசியலில் வேஷம் கட்டுகிறார்.
                        விஜய்யும் அதையே செய்கிறார்.
                        வெவ்வேறு வேஷங்கள்.
                        இந்திய அரசின் தமிழகத்திற்கான plan A ( ரஜினி)
                        வேலை செய்யவில்லை என்றால் plan B ( விஜய்) சில வருடங்கள் கழித்து களமிறக்கப்படும்.
                        <a href="#" class="comment-reply-link rplytxtcss">Reply</a>
                      </p>
                    </div>
                  </div>
                </article>
              </li>
            </ul>
          </div>
          <!-- comment area end -->
        </div>
      </div>
      <!-- left content area end -->
      <!-- right section area start -->
      <div class="col-md-4 col-sm-4">
        <div class="widget-title-bar">
          <h4>Trending News</h4>
        </div>
        <div class="list-post-item">
          <img src="assets/img/post-img/list-post-img6.jpg" alt="post thumb">
          <div class="lt-post-desc">
            <a href="#">விஜய் அரசியல் பேச்சு முன்கூட்டியே திட்டமிட்டதா?</a>
            <!-- <p><i class="fa fa-clock-o"></i>07, August 2017</p> -->
          </div>
        </div>
        <div class="list-post-item">
          <img src="assets/img/post-img/list-post-img7.jpg" alt="post thumb">
          <div class="lt-post-desc">
            <a href="#">ஸ்டெர்லைட்: நில ஒதுக்கீட்டை அரசு ரத்து செய்ய இடைக்கால தடை.. </a>
            <!-- <p><i class="fa fa-clock-o"></i>07, August 2017</p> -->
          </div>
        </div>
        <div class="list-post-item">
          <img src="assets/img/post-img/list-post-img8.jpg" alt="post thumb">
          <div class="lt-post-desc">
            <a href="#">ரூ.91,000 கோடி கடனில் தத்தளிக்கும் கம்பெனியை கைவிட்ட ரவி</a>
            <!-- <p><i class="fa fa-clock-o"></i>07, August 2017</p> -->
          </div>
        </div>
        <div class="list-post-item">
          <img src="assets/img/post-img/list-post-img9.jpg" alt="post thumb">
          <div class="lt-post-desc">
            <a href="#">தளபதி யார்? விஜயா? ஸ்டாலினா?.. உதயநிதி ஸ்டாலினின் அல்டிமேட் பதில்!</a>
            <!-- <p><i class="fa fa-clock-o"></i>07, August 2017</p> -->
          </div>
        </div>
        <div class="list-post-item">
          <img src="assets/img/post-img/list-post-img10.jpg" alt="post thumb">
          <div class="lt-post-desc">
            <a href="#">தாடி பாலாஜி மகளுக்கு கமலின் அன்பு பரிசு!</a>
            <!-- <p><i class="fa fa-clock-o"></i>07, August 2017</p> -->
          </div>
        </div>
        <div class="list-post-item">
          <img src="assets/img/post-img/list-post-img5.jpg" alt="post thumb">
          <div class="lt-post-desc">
            <a href="#">விஜய் அரசியல் பேச்சு முன்கூட்டியே திட்டமிட்டதா?</a>
            <!-- <p><i class="fa fa-clock-o"></i>07, August 2017</p> -->
          </div>
        </div>
        <div class="list-post-item">
          <img src="assets/img/post-img/list-post-img4.jpg" alt="post thumb">
          <div class="lt-post-desc">
            <a href="#">ஸ்டெர்லைட்: நில ஒதுக்கீட்டை அரசு ரத்து செய்ய இடைக்கால தடை.. </a>
            <!-- <p><i class="fa fa-clock-o"></i>07, August 2017</p> -->
          </div>
        </div>
        <!-- side bar area start -->
        <div class="side-bar">
          <!-- widget banner area start -->
          <div class="widget widget-banner">
            <a href="#"><img src="assets/img/banner/header-sidebar-banner3.jpg" alt="banner"></a>
          </div>
          <!-- widget banner area end -->
          <!-- hot post area start -->
          <div class="widget widget-hots-post">
            <div class="widget-hot-header">
              <a class="active" href="#one">FEATURED</a>
              <a href="#two">POPULAR</a>
              <a href="#three">SPORTS</a>
            </div>
            <div class="widget-h-list owl-carousel">
              <div class="hl-slider-item" data-hash="one">
                <div class="widget-h-item">
                  <div class="whot-img">
                    <img src="assets/img/side-bar/hot-post/hpost-img1.jpg" alt="hot post image">
                    <a href="#" class="whot-cat bg-clr-one">SOCIAL</a>
                    <div class="whot-title">
                      <a href="#"> ரன் அவுட் செய்யாமல் கேலி செய்த ஜடேஜா.. பதறிப் போன அஸ்வின், கோலி </a>
                    </div>
                  </div>
                </div>
                <div class="widget-h-item">
                  <div class="whot-img">
                    <img src="assets/img/side-bar/hot-post/hpost-img2.jpg" alt="hot post image">
                    <a href="#" class="whot-cat bg-clr-two">TECHNOLOGY</a>
                    <div class="whot-title">
                      <a href="#"> சேவாக் மாதிரி ஜீனியஸ் கூட அந்த பையனை கம்பேர் பண்ணாதீங்க.. அழுத்தி சொல்லும் கங்குலி
                      </a>
                    </div>
                  </div>
                </div>
                <div class="widget-h-item">
                  <div class="whot-img">
                    <img src="assets/img/side-bar/hot-post/hpost-img3.jpg" alt="hot post image">
                    <a href="#" class="whot-cat bg-clr-three">BUSINESS</a>
                    <div class="whot-title">
                      <a href="#">காரணமே சொல்லாம கழட்டி விட்ட தேர்வுக் குழு.. கடுப்பில் முரளி விஜய்</a>
                    </div>
                  </div>
                </div>
                <div class="widget-h-item">
                  <div class="whot-img">
                    <img src="assets/img/side-bar/hot-post/hpost-img4.jpg" alt="hot post image">
                    <a href="#" class="whot-cat bg-clr-four">SPORTS</a>
                    <div class="whot-title">
                      <a href="#"> அறிமுக டெஸ்ட் சதத்தை யாருக்கு சமர்ப்பித்தார் ப்ரித்வி ஷா? நெகிழ்ச்சி தருணம் </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hl-slider-item" data-hash="two">
                <div class="widget-h-item">
                  <div class="whot-img">
                    <img src="assets/img/side-bar/hot-post/hpost-img3.jpg" alt="hot post image">
                    <a href="#" class="whot-cat bg-clr-three">BUSINESS</a>
                    <div class="whot-title">
                      <a href="#">காரணமே சொல்லாம கழட்டி விட்ட தேர்வுக் குழு.. கடுப்பில் முரளி விஜய்</a>
                    </div>
                  </div>
                </div>
                <div class="widget-h-item">
                  <div class="whot-img">
                    <img src="assets/img/side-bar/hot-post/hpost-img4.jpg" alt="hot post image">
                    <a href="#" class="whot-cat bg-clr-four">SPORTS</a>
                    <div class="whot-title">
                      <a href="#"> அறிமுக டெஸ்ட் சதத்தை யாருக்கு சமர்ப்பித்தார் ப்ரித்வி ஷா? நெகிழ்ச்சி தருணம் </a>
                    </div>
                  </div>
                </div>
                <div class="widget-h-item">
                  <div class="whot-img">
                    <img src="assets/img/side-bar/hot-post/hpost-img1.jpg" alt="hot post image">
                    <a href="#" class="whot-cat bg-clr-one">SOCIAL</a>
                    <div class="whot-title">
                      <a href="#"> ரன் அவுட் செய்யாமல் கேலி செய்த ஜடேஜா.. பதறிப் போன அஸ்வின், கோலி </a>
                    </div>
                  </div>
                </div>
                <div class="widget-h-item">
                  <div class="whot-img">
                    <img src="assets/img/side-bar/hot-post/hpost-img2.jpg" alt="hot post image">
                    <a href="#" class="whot-cat bg-clr-two">TECHNOLOGY</a>
                    <div class="whot-title">
                      <a href="#"> சேவாக் மாதிரி ஜீனியஸ் கூட அந்த பையனை கம்பேர் பண்ணாதீங்க.. அழுத்தி சொல்லும் கங்குலி
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hl-slider-item" data-hash="three">
                <div class="widget-h-item">
                  <div class="whot-img">
                    <img src="assets/img/side-bar/hot-post/hpost-img1.jpg" alt="hot post image">
                    <a href="#" class="whot-cat bg-clr-one">SOCIAL</a>
                    <div class="whot-title">
                      <a href="#"> ரன் அவுட் செய்யாமல் கேலி செய்த ஜடேஜா.. பதறிப் போன அஸ்வின், கோலி </a>
                    </div>
                  </div>
                </div>
                <div class="widget-h-item">
                  <div class="whot-img">
                    <img src="assets/img/side-bar/hot-post/hpost-img2.jpg" alt="hot post image">
                    <a href="#" class="whot-cat bg-clr-two">TECHNOLOGY</a>
                    <div class="whot-title">
                      <a href="#"> சேவாக் மாதிரி ஜீனியஸ் கூட அந்த பையனை கம்பேர் பண்ணாதீங்க.. அழுத்தி சொல்லும் கங்குலி
                      </a>
                    </div>
                  </div>
                </div>
                <div class="widget-h-item">
                  <div class="whot-img">
                    <img src="assets/img/side-bar/hot-post/hpost-img3.jpg" alt="hot post image">
                    <a href="#" class="whot-cat bg-clr-three">BUSINESS</a>
                    <div class="whot-title">
                      <a href="#">காரணமே சொல்லாம கழட்டி விட்ட தேர்வுக் குழு.. கடுப்பில் முரளி விஜய்</a>
                    </div>
                  </div>
                </div>
                <div class="widget-h-item">
                  <div class="whot-img">
                    <img src="assets/img/side-bar/hot-post/hpost-img4.jpg" alt="hot post image">
                    <a href="#" class="whot-cat bg-clr-four">SPORTS</a>
                    <div class="whot-title">
                      <a href="#"> அறிமுக டெஸ்ட் சதத்தை யாருக்கு சமர்ப்பித்தார் ப்ரித்வி ஷா? நெகிழ்ச்சி தருணம் </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- hot post area end -->
          <!-- widget-social area start -->
          <div class="widget widget-h3-social">
            <div class="widget-fb">
              <i class="dblue fa fa-facebook"></i>
              <h4>156,570</h4>
              <h6>Fans</h6>
            </div>
            <div class="widget-twitter">
              <i class="wblue fa fa-twitter"></i>
              <h4>3,562</h4>
              <h6>Followers</h6>
            </div>
            <div class="widget-g-plus">
              <i class="red fa fa-google-plus"></i>
              <h4>29,546</h4>
              <h6>Followers</h6>
            </div>
          </div>
          <!-- widget-social area end -->
          <!-- widget video area start -->
          <div class="widget widget-video">
            <div class="widget-title-bar">
              <h4>watch videos</h4>
            </div>
            <div class="widget-video-item">
              <div class="wvi-thumbnail">
                <a href="#"><img src="assets/img/side-bar/watch-video/video-thumb1.jpg" alt="video wvi-thumbnail"></a>
                <div class="wvi-info">
                  <a href="#"><i class="icofont icofont-play-alt-2"></i></a>
                  <span class="duration">2.20</span>
                </div>
              </div>
              <a href="#" class="wvi-title">பாரதியார் பல்கலைக் கழகத்தில் வேலை வாய்ப்பு!</a>
            </div>
            <div class="widget-video-item">
              <div class="wvi-thumbnail">
                <a href="#"><img src="assets/img/side-bar/watch-video/video-thumb2.jpg" alt="video wvi-thumbnail"></a>
                <div class="wvi-info">
                  <a href="#"><i class="icofont icofont-play-alt-2"></i></a>
                  <span class="duration">3.10</span>
                </div>
              </div>
              <a href="#" class="wvi-title">இண்டர்போல் தலைவர் சீனாவில் மாயம்</a>
            </div>
            <div class="widget-video-item">
              <div class="wvi-thumbnail">
                <a href="#"><img src="assets/img/side-bar/watch-video/video-thumb3.jpg" alt="video wvi-thumbnail"></a>
                <div class="wvi-info">
                  <a href="#"><i class="icofont icofont-play-alt-2"></i></a>
                  <span class="duration">5.0</span>
                </div>
              </div>
              <a href="#" class="wvi-title">அதிமுக - அமமுக குழப்பம்.. அமைச்சர்கள் ரியாக்ஷன்!!</a>
            </div>
          </div>
          <!-- widget video area end -->
          <div class="widget widget-banner">
            <a href="#"><img src="assets/img/banner/header-sidebar-banner1.jpg" alt="banner"></a>
          </div>
        </div>
        <!-- side bar area end -->
      </div>
      <!-- right section area end -->
    </div>
  </div>
</div>
<!-- twich-content area end -->
