<div id="preloader"></div>
<header>
  <div class="container">
    <div class="custom-header">
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <div class="logo">
            <a routerLink="/"><img src="assets/img/logo/logo.png" alt="logo"></a>
          </div>
        </div>
        <div class="col-lg-9 col-md-9">
          <div class="header-top">
            <div class="header-t">
              <div class="row mlr0">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="d-weather-area">
                    <span><i class="icofont icofont-time"></i></span>
                    <span class="h-date">Monday, October 5, 2017</span>
                    <span><i class="icofont icofont-rainy-sunny"></i></span>
                    <span class="h-weather">61<sup>o</sup>f</span>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="h-social-area">
                    <a href="#" class="i fa fa-facebook"></a>
                    <a href="#" class="i fa fa-twitter"></a>
                    <a href="#" class="i fa fa-google-plus"></a>
                    <a href="#" class="i fa fa-linkedin"></a>
                    <a href="#" class="i fa fa-pinterest"></a>
                    <a href="#" class="i fa fa-vimeo"></a>
                    <a href="#" class="i fa fa-youtube-play"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="header-bottom hidden-xs hidden-sm">
            <div class="menu-area">
              <div class="row mlr0">
                <div class="col-xs-11">
                  <div class="main-menu">
                    <nav>
                      <ul>
                        <li><a href="#">வீடியோ</a></li>
                        <li><a href="#">செய்திகள்</a></li>
                        <li><a href="#">நகரம்</a></li>
                        <li><a href="#">சினிமா</a></li>
                        <li><a href="#">லைப்ஸ்டைல்</a></li>
                        <li><a href="#">வாகனங்கள்</a></li>
                        <li><a href="#">தொழில்நுட்பம்</a></li>
                        <li><a href="#">வர்த்தகம்</a></li>
                        <li><a href="#">பயணங்கள்</a>
                          <ul class="drop-menu mega-menu">
                            <li><a href="#!">ஹோட்டல்கள்</a></li>
                            <li><a href="#!">விமானங்கள்</a></li>
                            <li><a href="#!">வீடியோக்கள்</a></li>
                            <li><a href="#!">பயண வழிகாட்டி</a></li>
                          </ul>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <div class="col-xs-1">
                  <div class="header-search-form">
                    <button id="search-btn"><i class="fa fa-search"></i></button>
                    <form action="#">
                      <input type="text" name="search" required="" placeholder="search here">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- mobile menu start -->
  <div class="mobile-menu-area hidden-md hidden-lg">
    <div class="mobile-menu">
      <div class="container">
        <nav id="mobile-menu">
          <ul>
            <li><a href="#">வீடியோ</a></li>
            <li><a href="#">செய்திகள்</a></li>
            <li><a href="#">நகரம்</a></li>
            <li><a href="#">சினிமா</a></li>
            <li><a href="#">லைப்ஸ்டைல்</a></li>
            <li><a href="#">வாகனங்கள்</a></li>
            <li><a href="#">தொழில்நுட்பம்</a></li>
            <li><a href="#">வர்த்தகம்</a></li>
            <li><a href="#">பயணங்கள்</a>
              <ul class="drop-menu mega-menu">
                <li><a href="#!">ஹோட்டல்கள்</a></li>
                <li><a href="#!">விமானங்கள்</a></li>
                <li><a href="#!">வீடியோக்கள்</a></li>
                <li><a href="#!">பயண வழிகாட்டி</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!-- mobile menu end -->
</header>

<router-outlet></router-outlet>

<footer>
  <!-- footer top area start -->
  <div class="footer-top h2-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="footer-logo">
            <a routerLink="/"><img src="assets/img/logo/logo.png" alt="logo"></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="footer-widget-area">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="widget-about">
              <h4 class="ft-widget-title">about us</h4>
              <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
                sollicitudin, lorem quis bibendum auctor, nisi elit consequat </p>
              <p>If you want to receive our latest news send directly to your email, </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="widget-find-more">
              <h4 class="ft-widget-title">Find more</h4>
              <ul>
                <li><a href="#"><i class="fa fa-angle-right"></i>World<i class="efct-right fa fa-angle-right"></i></a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i>Internet<i class="efct-right fa fa-angle-right"></i></a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i>Travel<i class="efct-right fa fa-angle-right"></i></a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i>Technology<i class="efct-right fa fa-angle-right"></i></a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i>Fashion<i class="efct-right fa fa-angle-right"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <h4 class="ft-widget-title">Get in touch</h4>
            <div class="widget widget-subscribe">
              <p class="mt0">Sign up for our newsletter to receive the latest news and event postings.</p>
              <div class="widget_wysija_cont">
                <form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                  target="_blank" novalidate="">
                  <input placeholder="Your email" name="EMAIL" id="mce-EMAIL" type="email">
                  <button name="subscribe" id="mc-embedded-subscribe"><i class="fa fa-envelope"></i></button>
                </form>
              </div>
              <div class="footer-socialicons">
                <a href="#" class="i fa fa-facebook"></a>
                <a href="#" class="i fa fa-twitter"></a>
                <a href="#" class="i fa fa-google-plus"></a>
                <a href="#" class="i fa fa-linkedin"></a>
                <a href="#" class="i fa fa-youtube-play"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer top area end -->
  <!-- footer bottom area start -->
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <p>Copyright @2018 <a href="https://cruzbytes.com/" target="_blank" class="text-white"> Cruzbytes</a></p>
      </div>
    </div>
  </div>
  <!-- footer bottom area end -->
</footer>
