<!-- h2-treading-post-area start -->
<div class="h2-treading-post-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="trd-post-item">
          <img src="assets/img/custom/vijayimg.jpg" alt="treading-img" class="bannernews-img">
          <div class="trd-post-info">
            <div class="trd-desc-crumbs crmbs-one">
              <span class="trd-cat">Sport <i class="fa fa-circle"></i></span>
              <span><i class="fa fa-calendar-o"></i>June 12</span>
              <span><i class="fa fa-comment"></i>15</span>
            </div>
            <a routerLink="/news" class="trd-post-title">நடிகர் விஜய் அரசியல் பேச்சு உணர்த்துவது
              என்ன?</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="list-post-item">
          <img src="assets/img/custom/newsimg-2.jpg" alt="post thumb">
          <div class="lt-post-desc">
            <a routerLink="/news">ரூ.91,000 கோடி கடனில் தத்தளிக்கும் கம்பெனியை கைவிட்ட ரவி
              பார்த்தசாரதி லண்டன் பறந்தார்</a>
            <p><i class="fa fa-clock-o"></i>07, August 2017</p>
          </div>
        </div>
        <div class="list-post-item">
          <img src="assets/img/custom/newsimg-3.jpg" alt="post thumb">
          <div class="lt-post-desc">
            <a routerLink="/news">விஜய் அரசியல் பேச்சு முன்கூட்டியே திட்டமிட்டதா? 'சர்கார்' மேடையை
              பயன்படுத்தியது ஏன் தெரியுமா?</a>
            <p><i class="fa fa-clock-o"></i>07, August 2017</p>
          </div>
        </div>
        <div class="list-post-item">
          <img src="assets/img/custom/newsimg-4.jpg" alt="post thumb">
          <div class="lt-post-desc">
            <a routerLink="/news">தளபதி யார்? விஜயா? ஸ்டாலினா?.. உதயநிதி ஸ்டாலினின் அல்டிமேட்
              பதில்!</a>
            <p><i class="fa fa-clock-o"></i>07, August 2017</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <a href="#"><img src="assets/img/banner/header-sidebar-banner2.jpg" class="frstad-block" alt="banner"></a>
      </div>
    </div>
  </div>
</div>
<!-- breaking new area start -->
<div class="breaking-news-area">
  <div class="container">
    <div class="row">
      <div class="breakingnews">
        <div class="brk-title">
          <h4>Breaking News:</h4>
          <span id="prev"><i class="fa fa-angle-left"></i></span>
          <span id="next"><i class="fa fa-angle-right"></i></span>
        </div>
        <ul class="newsticker">
          <li>கருணாஸிடம் சிக்கியுள்ள "ஆதாரம்" இதுதான்.. ஓ.எஸ்.மணியன் வெளியிட்ட பரபரப்பு தகவல்!</li>
          <li>சோதனை மேல் சோதனை... கருணாஸை தேடி சென்னைக்கு இரவோடு இரவாக வந்த நெல்லை போலீஸ்!</li>
          <li>தேமுதிக தலைவர் விஜயகாந்த் மீண்டும் மருத்துவமனையில் அனுமதி</li>
          <li>இதுதான் நம்ம ஏரியா.. ஒரு குட்டி கதை சொன்ன விஜய்.. எத்தனை அரசியல் இருக்கு பாருங்க!</li>
          <li>கூடி கொண்டே போகும் கிரைம் ரேட்.. கட்டம் கட்டப்படும் கருணாஸ்... யாரை கண்டு அஞ்சுகிறது அரசு?</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- breaking new area end -->
<!-- twich-content area start -->
<div class="twich-content-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="row">
          <div class="category-sec">
            <div class="col-xs-12">
              <div class="section-top-bar">
                <h4>சினிமா</h4>
                <a routerLink="category/news" class="viewmore-categorynews">View more</a>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-2.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">ரூ.91,000 கோடி கடனில் தத்தளிக்கும் கம்பெனியை கைவிட்ட ரவி பார்த்தசாரதி
                    லண்டன் பறந்தார்</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-3.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">விஜய் அரசியல் பேச்சு முன்கூட்டியே திட்டமிட்டதா? 'சர்கார்' மேடையை
                    பயன்படுத்தியது ஏன் தெரியுமா?</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-4.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">தளபதி யார்? விஜயா? ஸ்டாலினா?.. உதயநிதி ஸ்டாலினின் அல்டிமேட் பதில்!</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="row">
          <div class="category-sec">
            <div class="col-xs-12">
              <div class="section-top-bar">
                <h4>ஸ்போர்ட்ஸ்</h4>
                <a routerLink="category/news" class="viewmore-categorynews">View more</a>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="list-post-item">
                <img src="assets/img/post-img/list-post-img6.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">ரூ.91,000 கோடி கடனில் தத்தளிக்கும் கம்பெனியை கைவிட்ட ரவி பார்த்தசாரதி
                    லண்டன் பறந்தார்</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/post-img/list-post-img7.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">விஜய் அரசியல் பேச்சு முன்கூட்டியே திட்டமிட்டதா? 'சர்கார்' மேடையை
                    பயன்படுத்தியது ஏன் தெரியுமா?</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/post-img/list-post-img8.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">தளபதி யார்? விஜயா? ஸ்டாலினா?.. உதயநிதி ஸ்டாலினின் அல்டிமேட் பதில்!</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="row">
          <div class="category-sec">
            <div class="col-xs-12">
              <div class="section-top-bar">
                <h4>ரியல் எஸ்டேட் </h4>
                <a routerLink="category/news" class="viewmore-categorynews">View more</a>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="list-post-item">
                <img src="assets/img/post-img/list-post-img4.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">ரூ.91,000 கோடி கடனில் தத்தளிக்கும் கம்பெனியை கைவிட்ட ரவி பார்த்தசாரதி
                    லண்டன் பறந்தார்</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/post-img/list-post-img5.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">விஜய் அரசியல் பேச்சு முன்கூட்டியே திட்டமிட்டதா? 'சர்கார்' மேடையை
                    பயன்படுத்தியது ஏன் தெரியுமா?</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/post-img/list-post-img9.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">தளபதி யார்? விஜயா? ஸ்டாலினா?.. உதயநிதி ஸ்டாலினின் அல்டிமேட் பதில்!</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="row">
          <div class="category-sec">
            <div class="col-xs-12">
              <div class="section-top-bar">
                <h4>எகானமி </h4>
                <a routerLink="category/news" class="viewmore-categorynews">View more</a>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="list-post-item">
                <img src="assets/img/post-img/list-post-img4.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">ரூ.91,000 கோடி கடனில் தத்தளிக்கும் கம்பெனியை கைவிட்ட ரவி பார்த்தசாரதி
                    லண்டன் பறந்தார்</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/post-img/list-post-img5.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">விஜய் அரசியல் பேச்சு முன்கூட்டியே திட்டமிட்டதா? 'சர்கார்' மேடையை
                    பயன்படுத்தியது ஏன் தெரியுமா?</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/post-img/list-post-img6.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">தளபதி யார்? விஜயா? ஸ்டாலினா?.. உதயநிதி ஸ்டாலினின் அல்டிமேட் பதில்!</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="row">
          <div class="category-sec">
            <div class="col-xs-12">
              <div class="section-top-bar">
                <h4>ஹெல்த்</h4>
                <a routerLink="category/news" class="viewmore-categorynews">View more</a>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="list-post-item">
                <img src="assets/img/post-img/list-post-img7.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">ரூ.91,000 கோடி கடனில் தத்தளிக்கும் கம்பெனியை கைவிட்ட ரவி பார்த்தசாரதி
                    லண்டன் பறந்தார்</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/post-img/list-post-img8.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">விஜய் அரசியல் பேச்சு முன்கூட்டியே திட்டமிட்டதா? 'சர்கார்' மேடையை
                    பயன்படுத்தியது ஏன் தெரியுமா?</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/post-img/list-post-img9.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">தளபதி யார்? விஜயா? ஸ்டாலினா?.. உதயநிதி ஸ்டாலினின் அல்டிமேட் பதில்!</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="row">
          <div class="category-sec">
            <div class="col-xs-12">
              <div class="section-top-bar">
                <h4>ப்ரென்டிங் </h4>
                <a routerLink="category/news" class="viewmore-categorynews">View more</a>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-2.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">ரூ.91,000 கோடி கடனில் தத்தளிக்கும் கம்பெனியை கைவிட்ட ரவி பார்த்தசாரதி
                    லண்டன் பறந்தார்</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-3.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">விஜய் அரசியல் பேச்சு முன்கூட்டியே திட்டமிட்டதா? 'சர்கார்' மேடையை
                    பயன்படுத்தியது ஏன் தெரியுமா?</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-4.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">தளபதி யார்? விஜயா? ஸ்டாலினா?.. உதயநிதி ஸ்டாலினின் அல்டிமேட் பதில்!</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="row">
          <div class="category-sec">
            <div class="col-xs-12">
              <div class="section-top-bar">
                <h4>போலீஸ் டிபார்ட்மெண்ட் </h4>
                <a routerLink="category/news" class="viewmore-categorynews">View more</a>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-2.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">ரூ.91,000 கோடி கடனில் தத்தளிக்கும் கம்பெனியை கைவிட்ட ரவி பார்த்தசாரதி
                    லண்டன் பறந்தார்</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-3.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">விஜய் அரசியல் பேச்சு முன்கூட்டியே திட்டமிட்டதா? 'சர்கார்' மேடையை
                    பயன்படுத்தியது ஏன் தெரியுமா?</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-4.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">தளபதி யார்? விஜயா? ஸ்டாலினா?.. உதயநிதி ஸ்டாலினின் அல்டிமேட் பதில்!</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="row">
          <div class="category-sec">
            <div class="col-xs-12">
              <div class="section-top-bar">
                <h4>மோஸ்ட் பாப்புலர்</h4>
                <a routerLink="category/news" class="viewmore-categorynews">View more</a>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-2.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">ரூ.91,000 கோடி கடனில் தத்தளிக்கும் கம்பெனியை கைவிட்ட ரவி பார்த்தசாரதி
                    லண்டன் பறந்தார்</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-3.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">விஜய் அரசியல் பேச்சு முன்கூட்டியே திட்டமிட்டதா? 'சர்கார்' மேடையை
                    பயன்படுத்தியது ஏன் தெரியுமா?</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-4.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">தளபதி யார்? விஜயா? ஸ்டாலினா?.. உதயநிதி ஸ்டாலினின் அல்டிமேட் பதில்!</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="row">
          <div class="category-sec">
            <div class="col-xs-12">
              <div class="section-top-bar">
                <h4>அரசியல்</h4>
                <a routerLink="category/news" class="viewmore-categorynews">View more</a>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-2.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">ரூ.91,000 கோடி கடனில் தத்தளிக்கும் கம்பெனியை கைவிட்ட ரவி பார்த்தசாரதி
                    லண்டன் பறந்தார்</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-3.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">விஜய் அரசியல் பேச்சு முன்கூட்டியே திட்டமிட்டதா? 'சர்கார்' மேடையை
                    பயன்படுத்தியது ஏன் தெரியுமா?</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-4.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">தளபதி யார்? விஜயா? ஸ்டாலினா?.. உதயநிதி ஸ்டாலினின் அல்டிமேட் பதில்!</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="h3-adv2">
        <a href="#">
          <img src="assets/img/banner/header-top-banner3.jpg" alt="adv2 banner">
        </a>
      </div>
    </div>
  </div>
</div>
<!-- twich-content area end -->
<!-- letest video area end -->
<div class="container ptb50">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <div class="top-bar-slider ls-slider owl-carousel">
        <div class="lifestyle-slider-item">
          <div class="section-top-bar">
            <h4>World</h4>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-2.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">ரூ.91,000 கோடி கடனில் தத்தளிக்கும் கம்பெனியை கைவிட்ட ரவி பார்த்தசாரதி
                    லண்டன் பறந்தார்</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-3.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">விஜய் அரசியல் பேச்சு முன்கூட்டியே திட்டமிட்டதா? 'சர்கார்' மேடையை
                    பயன்படுத்தியது ஏன் தெரியுமா?</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-4.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">தளபதி யார்? விஜயா? ஸ்டாலினா?.. உதயநிதி ஸ்டாலினின் அல்டிமேட் பதில்!</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-1.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">ஸ்டெர்லைட்: நில ஒதுக்கீட்டை அரசு ரத்து செய்ய இடைக்கால தடை.. மதுரை ஹைகோர்ட்
                    கிளை அதிரடி</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-3.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">விஜய் அரசியல் பேச்சு முன்கூட்டியே திட்டமிட்டதா? 'சர்கார்' மேடையை
                    பயன்படுத்தியது ஏன் தெரியுமா?</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-1.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">ஸ்டெர்லைட்: நில ஒதுக்கீட்டை அரசு ரத்து செய்ய இடைக்கால தடை.. மதுரை ஹைகோர்ட்
                    கிளை அதிரடி</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-2.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">ரூ.91,000 கோடி கடனில் தத்தளிக்கும் கம்பெனியை கைவிட்ட ரவி பார்த்தசாரதி
                    லண்டன் பறந்தார்</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-3.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">விஜய் அரசியல் பேச்சு முன்கூட்டியே திட்டமிட்டதா? 'சர்கார்' மேடையை
                    பயன்படுத்தியது ஏன் தெரியுமா?</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-2.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">ரூ.91,000 கோடி கடனில் தத்தளிக்கும் கம்பெனியை கைவிட்ட ரவி பார்த்தசாரதி
                    லண்டன் பறந்தார்</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-4.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">தளபதி யார்? விஜயா? ஸ்டாலினா?.. உதயநிதி ஸ்டாலினின் அல்டிமேட் பதில்!</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="lifestyle-slider-item">
          <div class="section-top-bar">
            <h4>Tamilnadu</h4>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-1.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">ஸ்டெர்லைட்: நில ஒதுக்கீட்டை அரசு ரத்து செய்ய இடைக்கால தடை.. மதுரை ஹைகோர்ட்
                    கிளை அதிரடி</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-2.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">ரூ.91,000 கோடி கடனில் தத்தளிக்கும் கம்பெனியை கைவிட்ட ரவி பார்த்தசாரதி
                    லண்டன் பறந்தார்</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-3.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">விஜய் அரசியல் பேச்சு முன்கூட்டியே திட்டமிட்டதா? 'சர்கார்' மேடையை
                    பயன்படுத்தியது ஏன் தெரியுமா?</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-2.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">ரூ.91,000 கோடி கடனில் தத்தளிக்கும் கம்பெனியை கைவிட்ட ரவி பார்த்தசாரதி
                    லண்டன் பறந்தார்</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-2.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">ரூ.91,000 கோடி கடனில் தத்தளிக்கும் கம்பெனியை கைவிட்ட ரவி பார்த்தசாரதி
                    லண்டன் பறந்தார்</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-3.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">விஜய் அரசியல் பேச்சு முன்கூட்டியே திட்டமிட்டதா? 'சர்கார்' மேடையை
                    பயன்படுத்தியது ஏன் தெரியுமா?</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
              <div class="list-post-item">
                <img src="assets/img/custom/newsimg-4.jpg" alt="post thumb">
                <div class="lt-post-desc">
                  <a routerLink="/news">தளபதி யார்? விஜயா? ஸ்டாலினா?.. உதயநிதி ஸ்டாலினின் அல்டிமேட் பதில்!</a>
                  <p><i class="fa fa-clock-o"></i>07, August 2017</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="side-bar">
        <div class="widget widget-around-world">
          <div class="widget-title-bar">
            <h4>கட்டாயம் இதையும் படிங்க</h4>
          </div>
          <img src="assets/img/custom/politics.jpg" alt="around world image" class="mustnewsimg">
          <a routerLink="/news">இந்தியா வரும் ரஷ்ய அதிபர் புடின்.. முக்கிய 20 ஒப்பந்தங்கள் கையெழுத்தாகிறது! </a>
          <p class="df-text">ரஷ்ய அதிபர் விளாடிமிர் புடின் பல்வேறு ஒப்பந்தங்களில் கையெழுத்திடுவதற்காக இந்தியா வர
            உள்ளார்.</p>
          <ul>
            <li>அவருக்காக டெல்லியில் பாதுகாப்பு பலப்படுத்தப்பட்டுள்ளது.</li>
            <li>அவரின் இந்திய வருகையை உலகமே உற்றுநோக்குகிறது.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- letest video area start -->
<!-- letest video area start -->
<div class="letest-video-area">
  <div class="container">
    <div class="letest-video">
      <h1>வீடியோ செய்திகள்</h1>
      <!-- <a class="view-all" href="#">view all</a> -->
      <div class="lt-video-slider owl-carousel">
        <div class="lt-video-item">
          <div class="ltv-thumb">
            <img src="assets/img/slider-img/lt-video/ltv-img1.jpg" alt="video thumbnail">
            <a class="lt-video" href="https://www.youtube.com/watch?v=qWy_aOlB45Y"><i class="fa fa-play"></i></a>
          </div>
          <div class="cmn-tag-area">
            <span><i class="fa fa-clock-o"></i>Nov 1,2017</span>
            <span><i class="fa fa-eye"></i>15k</span>
            <span><i class="fa fa-heart-o"></i>278</span>
          </div>
          <a href="#">தாடி பாலாஜி மகளுக்கு கமலின் அன்பு பரிசு!</a>
        </div>
        <div class="lt-video-item">
          <div class="ltv-thumb">
            <img src="assets/img/slider-img/lt-video/ltv-img2.jpg" alt="video thumbnail">
            <a class="lt-video" href="https://www.youtube.com/watch?v=qWy_aOlB45Y"><i class="fa fa-play"></i></a>
          </div>
          <div class="cmn-tag-area">
            <span><i class="fa fa-clock-o"></i>Nov 1,2017</span>
            <span><i class="fa fa-eye"></i>15k</span>
            <span><i class="fa fa-heart-o"></i>278</span>
          </div>
          <a href="#">தாடி பாலாஜி மகளுக்கு கமலின் அன்பு பரிசு!</a>
        </div>
        <div class="lt-video-item">
          <div class="ltv-thumb">
            <img src="assets/img/slider-img/lt-video/ltv-img3.jpg" alt="video thumbnail">
            <a class="lt-video" href="https://www.youtube.com/watch?v=qWy_aOlB45Y"><i class="fa fa-play"></i></a>
          </div>
          <div class="cmn-tag-area">
            <span><i class="fa fa-clock-o"></i>Nov 1,2017</span>
            <span><i class="fa fa-eye"></i>15k</span>
            <span><i class="fa fa-heart-o"></i>278</span>
          </div>
          <a href="#">தாடி பாலாஜி மகளுக்கு கமலின் அன்பு பரிசு!</a>
        </div>
        <div class="lt-video-item">
          <div class="ltv-thumb">
            <img src="assets/img/slider-img/lt-video/ltv-img4.jpg" alt="video thumbnail">
            <a class="lt-video" href="https://www.youtube.com/watch?v=qWy_aOlB45Y"><i class="fa fa-play"></i></a>
          </div>
          <div class="cmn-tag-area">
            <span><i class="fa fa-clock-o"></i>Nov 1,2017</span>
            <span><i class="fa fa-eye"></i>15k</span>
            <span><i class="fa fa-heart-o"></i>278</span>
          </div>
          <a href="#">தாடி பாலாஜி மகளுக்கு கமலின் அன்பு பரிசு!</a>
        </div>
        <div class="lt-video-item">
          <div class="ltv-thumb">
            <img src="assets/img/slider-img/lt-video/ltv-img4.jpg" alt="video thumbnail">
            <a class="lt-video" href="https://www.youtube.com/watch?v=qWy_aOlB45Y"><i class="fa fa-play"></i></a>
          </div>
          <div class="cmn-tag-area">
            <span><i class="fa fa-clock-o"></i>Nov 1,2017</span>
            <span><i class="fa fa-eye"></i>15k</span>
            <span><i class="fa fa-heart-o"></i>278</span>
          </div>
          <a href="#">தாடி பாலாஜி மகளுக்கு கமலின் அன்பு பரிசு!</a>
        </div>
        <div class="lt-video-item">
          <div class="ltv-thumb">
            <img src="assets/img/slider-img/lt-video/ltv-img2.jpg" alt="video thumbnail">
            <a class="lt-video" href="https://www.youtube.com/watch?v=qWy_aOlB45Y"><i class="fa fa-play"></i></a>
          </div>
          <div class="cmn-tag-area">
            <span><i class="fa fa-clock-o"></i>Nov 1,2017</span>
            <span><i class="fa fa-eye"></i>15k</span>
            <span><i class="fa fa-heart-o"></i>278</span>
          </div>
          <a href="#">தாடி பாலாஜி மகளுக்கு கமலின் அன்பு பரிசு!</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- letest video area end -->
